@{
        ViewData["Title"] = "Movie List";
    }

    @model List<ApplicationResponse>

    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <td>Category</td>
                <td>Title</td>
                <td>Year</td>
                <td>Director</td>
                <td>Rating</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
                {
            <tr>
                <td>@x.category.categoryName</td>
                <td>@x.title</td>
                <td>@x.year</td>
                <td>@x.director</td>
                <td>@x.rating</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieID">Delete</a></td>
            </tr>
                }
        </tbody>

    </table>
